@import url("https://fonts.googleapis.com/css2?family=Odibee+Sans&display=swap");

*{
  box-sizing: border-box;
}
body {
  margin: 0;
}

.root {
  background: url(./images/background/background.svg);
}

@media (min-width: 960px) {
  
  .root {
    background: url(./images/background/desktop-background.svg);
  }
}